@import "~bootstrap/scss/functions";
@import "bootstrap_variables";
@import "~bootstrap/scss/bootstrap";
@import "bootstrap_custom";

.header {
	padding: 1.25rem;
	text-align: center;
}

.popover-info {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	padding: 0;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
	background-color: $gray-550;
	color: $white;
	outline: 0 !important;
	z-index: 10;
}

.form {
	&-nav {
		background-color: $dark;
		padding: 1.5rem 1rem;

		&-item {
			padding: 0;
			width: 3rem;
			height: 3rem;
			line-height: 2.5rem;
			border-radius: 50%;
			border: 0.125rem solid $gray-500;
			text-align: center;
			font-size: 2rem;
			position: relative;
			&:active,
			&:focus {
				outline: 0;
			}
			+ .form-nav-item {
				margin-left: 5rem;

				&::before {
					content: '';
					position: absolute;
					left: -4rem;
					top: 50%;
					margin-top: -1.5rem;
					height: 3rem;
					width: 3rem;
					background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='%23ffffff' d='M9.984 6l6 6-6 6-1.406-1.406 4.594-4.594-4.594-4.594z'/%3e%3c/svg%3e");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					opacity: .5;
					transition: 0.3s;
					will-change: transorm;
					transform: translate(0,0) rotate(0deg);
				}
			}

			&.active {
				background-color: $white;
				color: $dark;
				border-color: $white;
				+ .form-nav-item {
					&:hover {
						&::before {
							transform: translate(.5rem,0) rotate(0deg);
						}
					}
					&::before {
						opacity: 1;
					}
				}
			}

			&:not(.active) {
				color: $gray-500;
				background-color: transparent;
			}

			&.prev {
				&:hover {
					border-color: $white;
					+ .form-nav-item {
						&::before {
							transform: translate(0,0) rotate(180deg);
							opacity: 1;
						}
					}
				}
			}
		}
	}
}